footer {
    background: #0075f6;
    padding: 3rem 0;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 7rem;
}

footer a {
    color: #fff;
}

.footer__logo {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;
}

.permalinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;
}

.footer__social {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4rem;
}

.social-icon {
    font-size: 1.2rem;
}

.footer__social a {
    background: #f8f9fa;
    color: #0075f6;
    padding: 0.5rem;
    border-radius: 0.7rem;
    display: flex;
    border: 1px solid transparent;
}

.footer__social a:hover {
    background: transparent;
    color: #f8f9fa;
    border-color: #f8f9fa;
}

.footer__copyright {
    margin-bottom: 4rem;
}

.footer__copyright small {
    color: #f8f9fa;
}

@media screen and (max-width: 600px) {
    .permalinks {
        flex-direction: column;
        gap: 1.5rem;
    }

    .footer__social {
        margin-bottom: 2.6rem;
    }
}